.collectionWidthAkgRj {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 1200px;
}
@media screen and (max-width: 1200px) {
  .collectionWidthAkgRj {
    width: auto;
  }
}
.container__collectionsDdafkgt4R {
  background: #eee;
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 10px !important;
}
.collectionsDdafkgt4R {
  color: black;
  padding: 20px 10px;
  border-radius: 3px;
  -weblit-border-box: box-sizing;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.collectionsDdafkgt4R__sectionName {
  font-weight: 500;
  font-size: 2em;
  margin: 12px 0 7px;
  border-top: 1px solid #c8c8c8;
}
.collectionsDdafkgt4R__sectionName > span {
  display: inline-block;
  padding: 5px 20px 5px 0;
  background: #eee;
  position: relative;
  top: -0.9em;
}
.collectionsDdafkgt4R__columns {
  float: left;
  width: 16.666%;
  padding: 0 4px;
  -weblit-border-box: box-sizing;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.collectionsDdafkgt4R__columns-item {
  font-size: 1.4em;
  margin: 7px 0;
  line-height: 1.5;
}
.collectionsDdafkgt4R__columns-name {
  font-size: 1.7em;
  font-weight: 700;
  margin: 0px 0 8px;
}
.collectionsDdafkgt4R *:first-letter {
  text-transform: uppercase;
}
/* Первые буквы строк везде в коллекциях большие*/
@media screen and (max-width: 1280px) {
  .collectionsDdafkgt4R {
    border-radius: 0px;
    width: auto !important;
  }
}
@media screen and (max-width: 1100px) {
  .collectionsDdafkgt4R__columns:nth-of-type(n + 6) {
    display: none;
  }
  .collectionsDdafkgt4R__columns {
    width: 20%;
  }
}
@media screen and (max-width: 900px) {
  .collectionsDdafkgt4R__columns:nth-of-type(n + 5) {
    display: none;
  }
  .collectionsDdafkgt4R__columns {
    width: 25%;
  }
}
@media screen and (max-width: 800px) {
  .collectionsDdafkgt4R__columns:nth-of-type(n + 4) {
    display: none;
  }
  .collectionsDdafkgt4R__columns {
    width: 33.333%;
  }
}
@media screen and (max-width: 700px) {
  .collectionsDdafkgt4R {
    display: none;
  }
}